{% extends "base.html" %}

 {% block title %} Add Section {% endblock title %}
 
 {%block css %}
<style>
  .divider::after,
  .divider::before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
  }

  .h-custom {
    height: calc(100% - 73px);
  }

  @media (max-width: 450px) {
    .h-custom {
      height: 100%;
    }
  }
</style>
{% endblock css %} 


{% block body %}

<div class="container ">
  <section class="vh-250">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-250">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img
            src="\static\images\section.jpg"
            class="img-fluid"
            alt=" image"
          />
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form action="/add_section" method="post">
            <div class="divider d-flex align-items-center my-4">
              <p class="text-center mx-3 mb-0 display-6">Add Section</p>
            </div>

            <div class="form-floating mb-3">
              <input
                type="text"
                id="id"
                class="form-control form-control-lg"
                placeholder=" "
                name="id"
                required
              />
              <label for="id">Section Id</label>
            </div>

            <div class="form-floating mb-3">
              <select class="form-select" required id="course" name="course">
                {% for d in course %}
                <option value="{{d.course_id}}">{{d.course_id}}</option>
                {% endfor %}
              </select>
              <label for="course">Select Course </label>
            </div>

            <div class="form-floating mb-3">
              <select class="form-select" required id="sem" name="sem">
                <option value="Fall">Fall</option>
                <option value="Winter">Winter</option>
                <option value="Spring">Spring</option>
                <option value="Summer">Summer</option>
              </select>
              <label for="sem">Select Semester </label>
            </div>

            <!-- year input -->
            <div class="form-floating mb-3">
              <input
                type="number"
                id="year"
                min="2000"
                max="2099"
                step="1"
                value="2024"
                class="form-control form-control-lg"
                placeholder=" "
                name="year"
                required
              />
              <label for="year">Select Year</label>
            </div>

            <div class="form-floating mb-3">
              <select
                class="form-select"
                required
                id="building"
                name="building"
              >
                {% for d in building %}
                <option value="{{d.building}}">{{d.building}}</option>
                {% endfor %}
              </select>
              <label for="building">Select Building </label>
            </div>

            <div class="form-floating mb-3">
              <select class="form-select" required id="room" name="room">
                {% for d in room %}
                <option value="{{d.room_number}}">{{d.room_number}}</option>
                {% endfor %}
              </select>
              <label for="room">Select Room </label>
            </div>

            <div class="form-floating mb-3">
              <select class="form-select" required id="time" name="time">
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
                <option value="E">E</option>
                <option value="F">F</option>
                <option value="G">G</option>
                <option value="H">H</option>
              </select>
              <label for="time">Select Time Slot </label>
            </div>

            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="submit" class="btn btn-outline-success btn-lg">
                Add Section
              </button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </section>
  <hr class= "my-5"/>
</div>




{% endblock body %}
