{% extends "base.html" %}

{%block title%}
Departments
{%endblock title%}


{% block body %}



<div class="container mt-5">
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4">
          <img src="static\images\cse.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Computer Science & Engineering</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="/cse" class="btn btn-outline-info"><i class="fa-solid fa-arrow-right fa-lg"></i>  View</a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4">
          <img src="static\images\electrical.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Electrical Engineering</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="/ee" class="btn btn-outline-secondary"><i class="fa-solid fa-arrow-right fa-lg"></i>  View</a>

          </div>
        </div>
      </div>


      <div class="col-md-4">
        <div class="card mb-4">
          <img src="static\images\history.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">History</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="/hist" class="btn btn-outline-success"><i class="fa-solid fa-arrow-right fa-lg"></i>  View</a>
          </div>
        </div>
      </div>

    </div>

    

    <div class="row">
      
      <div class="col-md-4">
        <div class="card mb-4">
          <img src="static\images\finance.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Finance</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="/fin" class="btn btn-outline-primary"><i class="fa-solid fa-arrow-right fa-lg"></i>  View</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <img src="static\images\physics.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Physics</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="/phy" class="btn btn-outline-info"><i class="fa-solid fa-arrow-right fa-lg"></i>  View</a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4">
          <img src="static\images\bio.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Biology</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="/bio" class="btn btn-outline-secondary"><i class="fa-solid fa-arrow-right fa-lg"></i>  View</a>
          </div>
        </div>
      </div>
    </div>




    <div class="row">
        <div class="col-md-4">
          <div class="card mb-4">
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="card mb-4">
            <img src="static\images\music.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Music</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="/mus" class="btn btn-outline-success"><i class="fa-solid fa-arrow-right fa-lg"></i>  View</a>
            </div>
          </div>
        </div>
  
        <div class="col-md-4">
          <div class="card mb-4">
          </div>
        </div>
      </div>
  </div>
{%endblock body%}