{% extends "dept_base.html" %}

{% block title %}Music{% endblock title %}

{% block deptname%}Music{% endblock deptname%}
{% block img%} 
            <img src="static\images\music.jpg" class="card-img-top" alt="...">
{% endblock img%}

{% block about%} Welcome to the symphonic sanctuary where melodies soar and harmonies resound! Immerse yourself in the world of rhythm, melody, and expression as we explore the language of music. Whether you're a virtuoso or just love to sing in the shower, join us in celebrating the universal power of music.{% endblock about%}
     

{% block vision%} We envision a future where music transcends boundaries, uniting hearts and minds across cultures and generations. Our goal is to cultivate creativity, passion, and artistic excellence in the pursuit of musical expression.{% endblock vision%}
{% block mission%} Our mission is to inspire and educate the next generation of musicians, composers, and music enthusiasts. Through performance, composition, and musicology, we provide students with the tools and techniques to unlock their musical potential and enrich their lives through the transformative power of music.{% endblock mission%}

{% block content %} 
{% if current_user.is_authenticated and current_user.role == 'admin' %}
        

<div class="accordion " id="accordionExample">
    <!--1-->
    <div class="jumbotron  text-center">
        <h1 class="display-4">Courses </h1>
    </div> 
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="btn btn-outline-info accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
Courses            </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <div class="jumbotron text-center">
                <a href="/add_course"><button class="btn btn-outline-secondary"><i class="fa-solid fa-plus fa-fade"></i> Add Course </button></a>
                <hr class="my-4">
            </div>
            <table class="table table-striped caption-top">
                <thead class="table">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">course id</th>
                        <th scope="col">Title</th>
                        <th scope="col">Credits</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% for c in courses %}
                    
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ c[0]}}</td>
                        <td>{{ c[1] }}</td>
                        <td>{{ c[2] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="100%" align='center'>
                            {{ courses|length }} Courses
                        </td>
                    </tr>
                </tfoot>
            </table>            </div>
      </div>
    </div>
    <hr class="my-4">

    <!--2-->

    <div class="jumbotron text-center">
        <h1 class="display-4">Instructors </h1>
    </div>


    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="btn btn-outline-info accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
Instructors            </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <table class="table table-striped caption-top">
                <thead class="table">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% for i in instructors %}
                    
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ i[0]}}</td>
                        <td>{{ i[1] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="100%" align='center'>
                            {{ instructors|length }} Instructors
                        </td>
                    </tr>
                </tfoot>
            </table>            </div>
      </div>
    </div>
    <hr class="my-4">




 <!--3-->
    <div class="jumbotron text-center">
        <h1 class="display-4">Students </h1>

    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="btn btn-outline-info accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
Students            </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
           
            <table class="table table-striped caption-top">
                <thead class="table">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% for i in students %}
                    
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ i[0]}}</td>
                        <td>{{ i[1] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="100%" align='center'>
                            {{ students|length }} Students
                        </td>
                    </tr>
                </tfoot>
            </table>            </div>
      </div>
    </div>
    <hr class="my-4">













</div>
{% endif %}
{% endblock content %} 