{% extends "base.html" %}

{%block title%}
Students
{%endblock title%}


{% block body %}


<div class="container mb-5 mt-5 table-responsive">
    

    <div class="jumbotron text-center">
        <h1 class="display-4">Students at <i class="fa-brands fa-x-twitter fa-sm"></i> </h1>
        <p class="lead">Welcome to the Students Dashboard! Access tools for Managing Students at X University!</p>
        <a href="/add_student"><button class="btn  btn-outline-secondary"><i class="fa-solid fa-plus fa-fade"></i>ㅤAdd Student</button> </a> 
        <hr class="my-4">
      </div>

    <table class="table table-striped caption-top  ">
        <!--table-success-->

        <thead class="table ">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Code</th>
            <th scope="col">Name</th>
            <th scope="col">Department</th>
            <th scope="col">Credits</th>
            <th scope="col">Instructor</th>
            <th scope="col" colspan="2" class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for stu in student %}
          <tr>
            <th scope="row">{{loop.index}}</th>
            <th scope="row">{{stu.ID}}</th>
            <td>{{stu.name}}</td>
            <td>{{stu.dept_name}}</td>
            <td>{{stu.tot_cred}}</td>
            <td>{{ stu.advisor.instructor.name if stu.advisor else "N/A" }}</td>
            <td><a href="/update_student/{{stu.ID}}"><button class="btn btn-sm btn-outline-info">Update</button> </a> </td>
    <td><a href="/delete_student/{{stu.ID}}"><button onclick="return confirm('Are you sure to Delete Instructor');" class="btn btn-sm btn-outline-danger">Delete</button> </a> </td>
    
          </tr>
          {%endfor%}

      
        </tbody>

        <tfoot>
            <tr>
                <td colspan="100%" align='center'>
                   {{ student|length }} records  found.
                </td>
             </tr>
        </tfoot>
      </table>
</div>
{%endblock body%}